#container {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0,0, 0.1);
}


h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 20px;
}


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto;
	background: #159957; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #159957, #155799); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #159957, #155799);

}

li { 
	background: white;
	height: 40px;
	line-height: 40px;
	color: #666;
}

/*every second li is grey*/
li:nth-child(2n){
	background: #f7f7f7;
}

/*working on the trash can animation using css*/
li span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block; /*so the trash takes up the whole space*/
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;

}

input {
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box; /*without this the box overlaps*/
	color: #2980b9;
	border: 3px solid rgba(0, 0, 0, 0); /*gets rid of slight border on input*/
}

/*for when you click on the box*/
input:focus{
	background: white;
	border: 3px solid #2980b9;
	outline: none;
}


.fa-plus {
	float: right;
}


.completed {
	color: gray;
	text-decoration: line-through;
}



